# Environment
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# Database
instance/
*.db

# Uploads
app/static/uploads/*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Virtual environment
venv/
.venv/
